.container {
   margin-left: auto;
        margin-right: auto;
}

@media screen and (max-width: 479px) {
    .container {
        max-width: 480px;
        padding-left: 12px;
        padding-right: 12px;
    }
}


@media screen and (min-width: 480px) {
    .container {
        width: 480px;
       padding-left: 20px;
        padding-right: 20px;
    }
}

;

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .hero-box{
margin-top: 88px;
margin-bottom: 60px;
    }
    .form{
        margin-right: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
          .form {
              margin-right: 550px;
          }

}