

.position{
    position: relative;
}
.header{
    top: 0px;
        left: 0px;
       width: 100%;
        height: 74px;
        background-color:#2196f3;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
      
}


.form{
   display: flex;
    // margin-right: 400px;
    height: 30px;

}
.flex{
    display: flex;
  align-items:center;
  justify-content: space-around;
    
}


